:root {
  /* Border radius */
  --radius: 0.5rem;
  --button-radius: 0.5rem;

  /* Light mode colors, or base colors if the deployment has set featureFlags.darkModeToggle to false */
  --background: #eaecf4;
  --foreground: #18181b;
  --card: #fafcff;
  --card-foreground: #18181b;
  --popover: #fafcff;
  --popover-foreground: #18181b;
  --primary: #2973ffd9;
  --primary-foreground: #ffffff;
  --secondary: #434c531c;
  --secondary-foreground: #18181b;
  --muted: #434c5317;
  --muted-foreground: #71717a;
  --accent: #fafafa;
  --accent-foreground: #2973ffd9;
  --destructive: #c73e59f2;
  --destructive-foreground: #c73e59f2;
  --border: #ccd0d4;
  --input: #434c531c;
  --ring: #5792ff;
  --chart-1: #ea580c;
  --chart-2: #0d9488;
  --chart-3: #0891b2;
  --chart-4: #eab308;
  --chart-5: #f59e0b;
}

/* Dark mode colors - not required if the deployment has set featureFlags.enableDarkModeToggle to false */
.dark {
  --background: #15181a;
  --foreground: #fffffff2;
  --card: #222529;
  --card-foreground: #fffffff2;
  --popover: #33363a;
  --popover-foreground: #fffffff2;
  --primary: #2973ff;
  --primary-foreground: #fffffff2;
  --secondary: #fafafa1a;
  --secondary-foreground: #ffffffb2;
  --muted: #fafafa14;
  --muted-foreground: #ffffff80;
  --accent: #fafafa0d;
  --accent-foreground: #2973ffd9;
  --destructive: #ff779214;
  --destructive-foreground: #c73e59f2;
  --border: #ffffff26;
  --input: #262626;
  --ring: #737373;
  --chart-1: #1d4ed8;
  --chart-2: #10b981;
  --chart-3: #f59e0b;
  --chart-4: #a855f7;
  --chart-5: #db2777;
}

/* Typography - using Tailwind CSS utility classes (https://tailwindcss.com/docs/styling-with-utility-classes) */
@utility heading-1 {
  @apply text-[48px] leading-[40px] font-[400] tracking-[-0.79];
}

@utility heading-2 {
  @apply text-[28px] leading-[40px] font-[400] tracking-[-0.69];
}

@utility heading-3 {
  @apply text-[32px] leading-[32px] font-[400] tracking-[-0.59];
}

@utility heading-4 {
  @apply text-[28px] leading-[32px] font-[400] tracking-[-0.47];
}

@utility heading-5 {
  @apply text-[20px] leading-[24px] font-[400];
}

@utility heading-6 {
  @apply text-[18px] leading-[24px] font-[400];
}

@utility body-large-plus {
  @apply text-[15px] leading-[24px] font-[400] tracking-[-0.18];
}

@utility body-large {
  @apply text-[15px] leading-[24px] font-[400] tracking-[-0.18];
}

@utility body-medium-plus {
  @apply text-[13px] leading-[20px] font-[400] tracking-[-0.09];
}

@utility body-medium {
  @apply text-[13px] leading-[24px] font-[400] tracking-[-0.09];
}

@utility body-small-plus {
  @apply text-[12px] leading-[16px] font-[400] tracking-[0.01];
}

@utility body-small {
  @apply text-[12px] leading-[16px] font-[400] tracking-[0.01];
}
