:root {
  /* Border radius */
  --radius: 0.5rem;
  --button-radius: 0.5rem;

  /* Light mode colors, or base colors if the deployment has set featureFlags.darkModeToggle to false */
  --background: #ffffff;
  --foreground: #18181b;
  --card: #ffffff;
  --card-foreground: #18181b;
  --popover: #ffffff;
  --popover-foreground: #18181b;
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #fafafa;
  --accent-foreground: #2563eb;
  --destructive: #ef4444;
  --destructive-foreground: #ef4444;
  --border: #e4e4e7;
  --input: #d4d4d8;
  --ring: #2563eb;
  --chart-1: #ea580c;
  --chart-2: #0d9488;
  --chart-3: #0891b2;
  --chart-4: #eab308;
  --chart-5: #f59e0b;
}

/* Dark mode colors - not required if the deployment has set featureFlags.enableDarkModeToggle to false */
.dark {
  --background: #09090b;
  --foreground: #ffffff;
  --card: #18181b;
  --card-foreground: #ffffff;
  --popover: #27272a;
  --popover-foreground: #ffffff;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #3f3f46;
  --secondary-foreground: #ffffff;
  --muted: #27272a;
  --muted-foreground: #a3a3a3;
  --accent: #3f3f46;
  --accent-foreground: #3b82f6;
  --destructive: #ef4444;
  --destructive-foreground: #ef4444;
  --border: #27272a;
  --input: #262626;
  --ring: #737373;
  --chart-1: #1d4ed8;
  --chart-2: #10b981;
  --chart-3: #f59e0b;
  --chart-4: #a855f7;
  --chart-5: #db2777;
}

/* Typography - using Tailwind CSS utility classes (https://tailwindcss.com/docs/styling-with-utility-classes) */
@utility heading-1 {
  @apply text-[36px] leading-[48px] font-[600] tracking-[-0.79];
}

@utility heading-2 {
  @apply text-[32px] leading-[36px] font-[600] tracking-[-0.69];
}

@utility heading-3 {
  @apply text-[28px] leading-[32px] font-[600] tracking-[-0.59];
}

@utility heading-4 {
  @apply text-[24px] leading-[32px] font-[600] tracking-[-0.47];
}

@utility heading-5 {
  @apply text-[20px] leading-[24px] font-[600];
}

@utility heading-6 {
  @apply text-[18px] leading-[24px] font-[600];
}

@utility body-large-plus {
  @apply text-[16px] leading-[24px] font-[600] tracking-[-0.18];
}

@utility body-large {
  @apply text-[16px] leading-[24px] font-[500] tracking-[-0.18];
}

@utility body-medium-plus {
  @apply text-[14px] leading-[20px] font-[600] tracking-[-0.09];
}

@utility body-medium {
  @apply text-[14px] leading-[20px] font-[500] tracking-[-0.09];
}

@utility body-small-plus {
  @apply text-[12px] leading-[16px] font-[600] tracking-[0.01];
}

@utility body-small {
  @apply text-[12px] leading-[16px] font-[500] tracking-[0.01];
}
