:root {
  /* Radius */
  --radius: 0.5rem;
  --button-radius: 999px;

  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9431 0 0);
  --card: oklch(0.2393 0 0);
  --card-foreground: oklch(0.9431 0 0);
  --popover: oklch(0.2727 0 0);
  --popover-foreground: oklch(0.9431 0 0);
  --primary: oklch(0.9911 0 0);
  --primary-foreground: oklch(0.2046 0 0);
  --secondary: oklch(0.3052 0 0);
  --secondary-foreground: oklch(0.9431 0 0);
  --muted: oklch(0.3052 0 0);
  --muted-foreground: oklch(0.5575 0.0165 244.89);
  --accent: oklch(0.3052 0 0);
  --accent-foreground: oklch(0.2103 0.0059 285.89);
  --destructive: oklch(0.5915 0.202 21.24);
  --border: oklch(0.3092 0 0);
  --input: oklch(0.3092 0 0);
  --ring: oklch(0.5461 0.2152 262.88);
  --chart-1: oklch(0.709 0.1592 293.54);
  --chart-2: oklch(0.7148 0.1257 215.22);
  --chart-3: oklch(0.8003 0.1821 151.71);
  --chart-4: oklch(0.7686 0.1647 70.08);
  --chart-5: oklch(0.7106 0.1661 22.22);
  --chart-6: oklch(0.7477 0.207 322.16);
}

/* Typography */
@utility heading-1 {
  @apply text-[36px] leading-[48px] font-[600] tracking-[-0.79];
}

@utility heading-2 {
  @apply text-[32px] leading-[36px] font-[600] tracking-[-0.69];
}

@utility heading-3 {
  @apply text-[28px] leading-[32px] font-[600] tracking-[-0.59];
}

@utility heading-4 {
  @apply text-[24px] leading-[32px] font-[600] tracking-[-0.47];
}

@utility heading-5 {
  @apply text-[20px] leading-[24px] font-[600];
}

@utility heading-6 {
  @apply text-[18px] leading-[24px] font-[600];
}

@utility body-large-plus {
  @apply text-[16px] leading-[24px] font-[600] tracking-[-0.18];
}

@utility body-large {
  @apply text-[16px] leading-[24px] font-[500] tracking-[-0.18];
}

@utility body-medium-plus {
  @apply text-[14px] leading-[20px] font-[600] tracking-[-0.09];
}

@utility body-medium {
  @apply text-[14px] leading-[20px] font-[500] tracking-[-0.09];
}

@utility body-small-plus {
  @apply text-[12px] leading-[16px] font-[600] tracking-[0.01];
}

@utility body-small {
  @apply text-[12px] leading-[16px] font-[500] tracking-[0.01];
}
