name: Test

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
      - staging
  workflow_dispatch: # Adds "Run workflow" button in GitHub UI

env:
  WHISK_API_URL: ${{ secrets.WHISK_API_URL }}
  WHISK_API_KEY: ${{ secrets.WHISK_API_KEY }}
  NEXT_PUBLIC_URL: ${{ secrets.NEXT_PUBLIC_URL }}
  MAINNET_RPC_URL_1: ${{ secrets.MAINNET_RPC_URL_1 }}

jobs:
  vitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Restore Foundry RPC cache
        uses: actions/cache/restore@v3
        with:
          path: ~/.foundry/cache/rpc-vitest
          key: foundry-rpc-vitest-${{ github.ref_name }}-v1-${{ github.run_id }}
          restore-keys: |
            foundry-rpc-vitest-${{ github.ref_name }}-v1-
            foundry-rpc-vitest--v1-

      - uses: foundry-rs/foundry-toolchain@v1
        with:
          cache: false

      - run: pnpm install --frozen-lockfile

      - run: pnpm codegen

      - run: pnpm test run

      - name: Save Foundry RPC cache
        if: always()
        uses: actions/cache/save@v3
        with:
          path: ~/.foundry/cache/rpc-vitest
          key: foundry-rpc-vitest-${{ github.ref_name }}-v1-${{ github.run_id }}
